body {
    background-image: url("../imagens/imagemFundo4.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
}

h1,h4  {
    color: #ffffff;
    position: relative;
    left: 105px;
    position: relative;
    top: -15px;
}
#h3{
    display: flex;
    justify-content: center; 
    position: relative;
    /* top: 85px; */
}
#Logo{
    margin-top: 35px;
    margin-bottom: 25px;
    height: 90px;
}

.logo {
  display: flex;
  justify-content: center;
}
#senha > h5{
    position: relative;
    left: 12px;
    font-size: x-small;
    color: #ffffff;
   width: 195px;
}
#senha{
    position: relative;
    top: -9px;
}
.conteinerInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px ;
    position: relative;
   

}
.input{
    position: relative;
    top: -25px;
    left: 19px;
    margin: 9px 25px 1px 1px;
}

#conteinercadPasageiro {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #242625;
    border-radius: 11px;
    margin: 20px auto;
    max-width: 69%;
    min-width: min-content;
    margin-bottom: 35px;
    padding: 20px; 
    position: relative;
    /* top: -100px; */
}

p {
    color: #ffffff;
}

input, select {
    display: flex;
    align-items: center;
    margin:auto;
    width: 195px;
    border: 3px solid #0D0D0D;
    border-radius: 20px;
    color: #ffffff;
    background-color: #304d73;
    padding: 8px;
    
   
}

#inputEnviar {
    font-weight: 900;
    color: #ffffff;
    background-color: #242625;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.7s;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -25px;
}

#inputEnviar:hover {
    background-color: #aa0000;
}

input:not(#inputEnviar):hover ,select:hover  {
    border: 3px solid #aa0000;
}
@media only screen and (min-device-width: 1300px) {
    body {
      overflow-y: hidden;
    }
}

@media (min-width: 1200px) {
    #conteinercadPasageiro {
        max-width: 61%;
    }
}
@media (min-width: 1300px) {
    #conteinercadPasageiro {
        max-width: 929px;
    }
}


