body{
    background-image: url("/imagens/fundoLogin.jpeg");
    background-repeat: no-repeat; 
    background-size: cover;
    overflow-y: hidden;
    font-family: "Manrope", sans-serif;
}
h1{
    color:#ffffff;
    position: relative;
    left: 105px;



    font-weight: 200;
}
#Logo{
    height: 200px;
    margin-left: 42%;
    border-radius: 50%;
  
}

#conteinerLogin{
    position: relative;
    bottom: 25px;
    background-color: #000000b0;
 
-webkit-box-shadow: 1px 1px 22px 0px rgba(143,143,143,1);
-moz-box-shadow: 1px 1px 22px 0px rgba(143,143,143,1);
box-shadow: 1px 1px 22px 0px rgba(143,143,143,1);

    border-radius: 11px;

    margin-left: auto;
    margin-right: auto;

    width: 300px;
    height: 300px;
}
#conteinerLogin > p {
    margin-left: 21px;
    margin-bottom: 4px;
    color: #ffffff;

    font-size: 13px;
}
#conteinerLogin > input{
    margin-left: 65px;
}
#inputEnviar{
    font-weight: 200;
    color: #ffffff;
    background-color: #304d73;
    border-radius: 15px; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
    transition: 0.7s;
    position: relative;
    top: 25px;
    left: 45px;
}
#inputEnviar:hover{
    background-color: #aa0000;
  }
input:not(#inputEnviar){
    border: 3px solid #0D0D0D;
    position: relative;
    right: 41px;
    width: 241px;
    height: 20px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #304d73;
}
input:not(#inputEnviar):hover{
    border: 3px solid white   ;
    transition: 1s;
<<<<<<< Updated upstream
    }
=======
    }
    @media only screen and (min-device-width: 1300px) {
      body {
        background-image: url("../imagens/fundomenor.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: hidden;
        font-family: "Manrope", sans-serif;

      }
    }

>>>>>>> Stashed changes
