body{
    background-image: url("../imagens/fundomenor.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    overflow-y: hidden;
    font-family: "Manrope", sans-serif;
}
a{
    font-size: smaller;
    position: relative;
    left: 175px;
    color: #000000;
}



h1{
    color:#ffffff;
    position: relative;
    left: 105px;
    font-weight: 200;
    position: relative;
    top: 15px;
    width: fit-content;
}
.conteinerLogin{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Logo{
    height: 200px;
}

.logo {
  display: flex;
  justify-content: center;

}


#Login{
    background-color: #000000b0;
    border-radius: 11px;
    width: 300px;
    height: 300px;
-webkit-box-shadow: 1px 1px 22px 0px rgba(143,143,143,1);
-moz-box-shadow: 1px 1px 22px 0px rgba(143,143,143,1);
box-shadow: 1px 1px 22px 0px rgba(143,143,143,1);
}
#Login > p {
    margin-left: 21px;
    margin-bottom: 4px;
    color: #ffffff;

    font-size: 13px;
}
#Login > input{
    margin-left: 65px;
    width: fit-content;
}
#inputEnviar{
    font-weight: 200;
    color: #ffffff;
    background-color: #304d73;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.7s;
    position: relative;
    top: 25px;
    left: 45px;
}
#inputEnviar:hover{
    background-color: #aa0000;
  }
input:not(#inputEnviar){
    border: 3px solid #0D0D0D;
    position: relative;
    right: 41px;
    width: 241px;
    height: 20px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #304d73;
}
input:not(#inputEnviar):hover{
    border: 3px solid white   ;
    transition: 1s;
    }
    @media only screen and (min-device-width: 1300px) {
      body {
        background-image: url("../imagens/fundomenor.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: hidden;
        font-family: "Manrope", sans-serif;

      }
    }

